body {
	font-size: 18px;
}
.container{
	max-width: 800px;
	margin:0 auto;
	min-width:600px;
}

.error {
	background: #f00;
	color:#fff;
	margin-top:2em;
	padding: 1em;
}

form{
	margin-top:1em;
	padding: 1em;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

form label, form input{
	display:block;
}

input[type=text]{
	min-width: 500px;
	padding: 1px 2px;
	line-height: 1.33;
	border-radius: 2px;
}
label {
	margin-top:0.5em;
}
select {
	margin-bottom: 1em;
}

table {
	width:  100%;
}

/*
	Button Styles borrowed from Bootstrap (getBootstrap.com)
*/
button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

button:hover{
	background-color: #eee;
}


table thead{
	font-weight: bold;
	text-align:center;
}